* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    45deg,
    rgb(201, 195, 195),
    rgb(102, 197, 212),
    rgb(44, 44, 200)
  );
}

.container {
  margin: auto;
  padding: auto;
  width: 350px;
  height: 390px;
  background-color: rgba(167, 165, 196, 0.5);
  backdrop-filter: blur(5px);
  border: 2px solid white;
  border-radius: 10px;
  background-clip: padding-box;
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 30px;
  padding: 20px;
}

 

#name {
  margin-bottom: 10px;
  width: 90%;
  margin-left: 15px;
  height: 30px;
}

.button{
  text-align: center;
  padding-bottom: 30px;
}
button{
  padding: 5px;
  margin: 5px;
}

#tasks{
  padding-left: 15px;
  font-size: 18px;
}

.checkbox{
  margin-right: 10px;

}